:root {
  --bg: #ffffff;
  --elementbg: #f0f5f8;
  --primary: #0a60e5;
  --secondary: #7c838b;
}

body {
  margin: 1vw;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  position: absolute;
  top: 1vw;
  left: 2vw;
  width: 3vw;
  height: 3vw;
}

.UserList {
  height: calc(100vh - 2vw);
  width: 20vw;
  float: right;
  border-radius: 1vw;
  background-color: var(--elementbg);
}

.UserList > input {
  width: 87%;
  height: 3vh;
  margin-left: 5%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: .6vw;
  font-size: medium;
  border: 3px solid var(--primary);
  background-color: var(--bg);
  outline: none;
}

.UserList > div {
  width: 100%;
  height: calc(92vh - 2vw);
  overflow-y: scroll;
  overflow-x: hidden;
}

.UserList > div::-webkit-scrollbar {
  width: 5px;
}

.UserList > div::-webkit-scrollbar-track {
  background: transparent;
}

.UserList > div::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 1vw;
}

.UserList > div > div {
  width: 100%;
  margin-bottom: 1vh;
  position: relative;
  cursor: pointer;
}

.UserList > div > div > img {
  height: 10vh;
  border-radius: 5vw;
  margin-left: 1vw;
  border: 3px solid var(--primary);
}

.UserList > div > div > span {
  position: absolute;
  margin-top: 4vh;
  margin-left: 1vw;
  font-weight: bold;
}

.EventList {
  height: calc(92vh - 2vw);
  width: 77vw;
  margin-top: 8vh;
  float: left;
  border-radius: 1vw;
  background-color: var(--elementbg);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.EventList::-webkit-scrollbar {
  width: 0px;
}

.event-item {
  height: calc(77vw / 4);
}

.event-item > div {
  background-color: var(--bg);
  border-radius: 1vw;
  width: calc(77vw / 4 - 2vw);
  height: calc(77vw / 4 - 2vw);
  margin-left: 1vw;
  margin-top: 1vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  cursor: pointer;
  position: relative;
}

.event-item > div > h1 {
  font-size: large;
}

.event-item > div > h3 {
  padding: 1vw;
}

.event-item > div > p {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: -1.2vw;
  margin-bottom: 1.5vw
}

.event-item > div > h4 {
  padding-left: 1vw;
  margin-top: -.5vw;
  font-size: small;
}

.event-item > div > img {
  position: absolute;
  width: 3vw;
  border-radius: 5vw;
  border-bottom-right-radius: 1vw;
  margin-left: calc(77vw / 4 - 5vw);
  margin-top: calc(77vw / 4 - 5vw);
}

.event-item > div > h5 {
  position: absolute;
  width: calc(77vw / 4 - 5.5vw);
  text-align: right;
  margin-top: calc(77vw / 4 - 3.2vw);
}

.addEventBtn {
  position: absolute;
  top: 1vw;
  left: calc(68vw);
  height: 3vw;
  background-color: var(--primary);
  border-radius: 5vw;
  cursor: pointer;
}

.addEventBtn:hover {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.addEventBtn > p {
  color: var(--bg);
  text-align: center;
  font-size: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: .8vw;
}
