:root {
  --bg: #ffffff;
  --elementbg: #f0f5f8;
  --primary: #0a60e5;
  --secondary: #7c838b;

  --user-list-height: 6vw;

  --nav-bg: #242526;
  --nav-bg-accent: #484a4d;
  --nav-text-color: #dadce1;
  --nav-size: 3rem;
  --nav-border: 1px solid #474a4d;
  --nav-border-radius: 8px;
}

body {
  margin: 1vw;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  position: absolute;
  background-color: #dadce1;
  padding: 5px;
  border-radius: 10%;
  top: 3.3vh;
  left: 2vw;
  width: 3vw;
  height: 3vh;
}

.UserList {
  height: calc(100vh - var(--user-list-height));
  width: 20vw;
  margin-top: 3vh;
  float: right;
  border-radius: 1vw;
  background-color: var(--elementbg);
}

.UserList>input {
  width: 87%;
  height: 3vh;
  margin-left: 5%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: .6vw;
  font-size: medium;
  border: 3px solid var(--primary);
  background-color: var(--bg);
  outline: none;
}

.UserList>div {
  width: 100%;
  height: calc(92vh - var(--user-list-height));
  overflow-y: scroll;
  overflow-x: hidden;
}

.UserList>div::-webkit-scrollbar {
  width: 5px;
}

.UserList>div::-webkit-scrollbar-track {
  background: transparent;
}

.UserList>div::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 1vw;
}

.UserList>div>div {
  width: 100%;
  margin-bottom: 1vh;
  position: relative;
  cursor: pointer;
}

.UserList>div>div>img {
  height: 10vh;
  border-radius: 5vw;
  margin-left: 1vw;
  border: 3px solid var(--primary);
}

.UserList>div>div>span {
  position: absolute;
  margin-top: 4vh;
  margin-left: 1vw;
  font-weight: bold;
}

.EventList {
  height: calc(92vh - 2vw);
  width: 76vw;
  margin-top: 3vh;
  float: left;
  border-radius: 1vw;
  background-color: var(--elementbg);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.EventList::-webkit-scrollbar {
  width: 0px;
}

.event-item {
  height: calc(77vw / 4);
}

.event-item>div {
  background-color: var(--bg);
  border-radius: 1vw;
  width: calc(77vw / 4 - 2vw);
  height: calc(77vw / 4 - 2vw);
  margin-left: 1vw;
  margin-top: 1vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  cursor: pointer;
  position: relative;
}

.event-item>div>h1 {
  font-size: large;
}

.event-item>div>h3 {
  padding: 1vw;
}

.event-item>div>p {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: -1.2vw;
  margin-bottom: 1.5vw
}

.event-item>div>h4 {
  padding-left: 1vw;
  margin-top: -.5vw;
  font-size: small;
}

.event-item>div>img {
  position: absolute;
  width: 3vw;
  border-radius: 5vw;
  border-bottom-right-radius: 1vw;
  margin-left: calc(77vw / 4 - 5vw);
  margin-top: calc(77vw / 4 - 5vw);
}

.event-item>div>h5 {
  position: absolute;
  width: calc(77vw / 4 - 5.5vw);
  text-align: right;
  margin-top: calc(77vw / 4 - 3.2vw);
}

.addEventBtn {
  position: absolute;
  top: 1vw;
  left: calc(68vw);
  height: 3vw;
  background-color: var(--primary);
  border-radius: 1vw;
  cursor: pointer;
}

.addEventBtn:hover {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.addEventBtn>p {
  color: var(--bg);
  text-align: center;
  font-size: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: .8vw;
}

/* Navbar css */

.navbar {
  height: var(--nav-size);
  background-color: var(--nav-bg);
  padding: 0 1rem;
  border-bottom: var(--nav-border);
}

ul .navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

div .navbar {
  color: var(--nav-text-color);
  text-decoration: none;
}

.Chat {
  height: calc(100vh - 2vw);
  width: 20vw;
  float: right;
  border-radius: 1vw;
  background-color: var(--elementbg);
}


.Chat > div {
  width: 100%;
  height: calc(100vh - 5.7vw);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  overflow-y: scroll;
}

.Chat>input {
  width: 18vw;
  margin-left: 1vw;
  margin-top: 1vw;
  font-size: medium;
  outline: none;
  border: 3px solid var(--primary);
  border-radius: .5vw;
  background-color: var(--bg);
}


.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 1.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-buttons {
  --nav-button-size: calc(var(--nav-size) * 2);
  width: var(--nav-button-size);
  height: 2rem;
  background-color: #484a4d;
  border-radius: 30%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-buttons:hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translate(-45%);
  background-color: var(--nav-bg);
  border: var(--nav-border);
  border-radius: var(--nav-border-radius);
  padding: 1rem;
  overflow: hidden;
  z-index: 3;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--nav-border-radius);
  transition: background var(500ms);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #525357;
}

.event-attendees {
  display: inline-block;
  
}

.profile {
  margin: 3vh;
  background-color: var(--elementbg);
  border-radius: 2vw;
}

.profile div {
  padding: 2vw;
  background-color: var(--elementbg);
  border-radius: 2vw;

}

.profile img {
  height: 23vh;
  border-top-left-radius: 1vw;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  border-bottom-left-radius: 5vw;
}
